:root {
  --primary:rgb(199, 151, 105);
  --secondary:rgb(54 22 22);
}

* {
  box-sizing:border-box;
}
html {
  height:100vh;
  font-size: 62.5%;
}
body {
  height:100vh;
  font-family: Cambria;
  display:flex;
  font-size: 2em;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:100vw;
  color:var(--secondary);
  margin:0;
  background-color: var(--secondary);
}
article {
  width:45vw;
  height:30vh;
  position: relative;
  border-radius:2rem;
  animation: breathe 6s ease-out infinite normal;
}

article > *:not(footer) {
  position: absolute;
  z-index: 10;
  border-radius:2rem 0 0 2rem;
  width:calc(100% - 7.5rem);
  height:100%;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
}
article > header::after {
  content:"";
  height:100%;
  width:100%;
  position:absolute;
  left:0;
  top:0;
  box-shadow:0 0 25rem var(--primary);
  border-radius: 2rem;
  opacity:1;
  animation:glow 2s infinite alternate linear;
}
article > :target {
  z-index:200;
}
article header {
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "heading figure"
    "text  figure"
  ;
  justify-items:center;
  background: var(--primary);
  background: linear-gradient(0deg, var(--secondary) 0%, var(--primary) 100%);
  z-index:100;
}
h1 {
  margin:0;
  grid-area: heading;
  align-self:end;
  font-size: 3rem;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

p {
  margin: .5rem;
  color:var(--primary);
  font-weight: bold;
  grid-area: text;
  white-space: nowrap;
  font-size: 2.5rem;
}
header p {
  align-self:start;
  font-weight: normal;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}
figure {
  grid-area:figure;
  margin:0rem;
  position:relative;
  place-self:end
}
img {
  filter: contrast(150%);
  height:30vh;
}

article section#html {
  --html-color:rgb(230, 76, 38);
  background-color:var(--html-color);
  background: linear-gradient(0deg, var(--html-color) 0%, rgb(254, 195, 180) 100%);
}
article section#css {
  --css-color:rgb(0, 116, 198);
  background: var(--css-color);
  background: linear-gradient(0deg, var(--css-color) 0%, rgb(186, 228, 253) 100%);
}
article section#js {
  --js-color:rgb(247, 233, 145);
  background-color:var(--js-color);
  background: linear-gradient(0deg, var(--js-color) 0%, rgb(253, 251, 231) 100%);
}
section h2 {
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
  font-size: 2.5rem;
  color:var(--secondary);
  font-weight: normal;
}
section img {
  position:absolute;
  z-index:-1;
  opacity:.1;
  transform:scale(.8)
}

section p {
  color: var(--secondary);
  font-size: 5rem;
  font-style: normal;
}

article footer {
  position:absolute;
  top:0;
  right:0;
  height:100%;
  z-index:1000;
  background-color: var(--secondary);
  border-radius:0 2rem 2rem 0;
  width:7.5rem;

}

footer ul {
  list-style:none;
  padding:0;
  margin:0;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height:100%
}

footer a {
  color:var(--primary);
  border-radius:50%;
  display:block;
  width:4rem;
  height:4rem;
  display:flex;
  justify-content: center;
  align-items: flex-center;
  margin:0 .5rem;
  transition:.25s;
  border:1px solid transparent
}
footer a:hover {
  border-color: currentColor
}
footer svg {
  width:80%;
  stroke-width:1;
  stroke:currentColor;
  stroke-linecap:round;
  stroke-linejoin:round;
  fill:none
}

/* animations */
@keyframes marching-ants {
  to {
    stroke-dashoffset:-20%;
  }
}

@keyframes glow {
  to {
    opacity:.5
  }
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.95);
  }
}
