:root {
  --primary:rgb(255, 168, 6);
  --secondary:rgb(18, 6, 86);
}

* {
  box-sizing:border-box;
}
html {
  height:100vh;
  font-size: 62.5%;
}
body {
  height:100vh;
  font-family: "open sans";
  display:flex;
  font-size: 2em;
  justify-content:center;
  align-items:center;
  height:100vh;
  width:100vw;
  color:#10214e;
  margin:0;
  background-color: var(--secondary);
  perspective:300px;
}
article {
  width:40vw;
  height:40vh;
  position: relative;
  background: var(--primary);
  background: linear-gradient(0deg, var(--secondary) 0%, var(--primary) 100%);
  border-radius:2rem;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:4rem;
  animation: breathe 5s ease-out infinite normal;
}
article::after {
  content:"";
  height:100%;
  width:100%;
  position:absolute;
  left:0;
  top:0;
  box-shadow:0 0 25rem var(--primary);
  border-radius: 2rem;
  opacity:.5;
  animation:glow 2s infinite alternate linear;
}
article > * {
  position: relative;
  z-index: 10;
  
}

article header {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
h1 {
  margin:0 0 1rem;  
}
p {
  margin: .5rem;
  color:var(--primary);
  font-weight: bold;
}
figure {
  filter: drop-shadow(0 0 .5rem rgba(0,0,0,.5));
  margin:0 0 0 2rem;
  width:50%;
  
}
img {
  clip-path: circle(50% at 50% 50%);
  filter: contrast(150%);
  max-width: 100%;
}
svg {
  border-radius:2rem;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:5;
  
}
rect {
  width:100%;
  height:100%;
  fill:none;
  stroke: url(#wow);
  stroke-width: 2rem;
  stroke-dasharray: 5% 15%;
  stroke-linecap:round;
  animation:marching-ants 1s infinite linear;
  rx:2rem;
  opacity:.15;
}

@keyframes marching-ants {
  to {stroke-dashoffset:-20%;}
}

@keyframes glow {
  to {opacity:1}
}

@keyframes breathe {
  0% {
    transform: scale(0.95);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(0.95);
  }
}
